<h2>More about {{celeb.name}}</h2>

<ul>
    <li>{{celeb.name}} is a {{celeb.occupation}}</li>
    <li>Catchphrase: {{celeb.catchPhrase}}</li>
</ul>

<a href="/celebrities">Back to Celebrity Index</a>