<h2>Edit {{movie.title}}</h2>

<form action="/movies/{{movie.id}}/edit" method="POST">
    <label>Genre</label>
    <input type="text" name="genre" value="{{movie.genre}}" />
    <label>Plot</label>
    <input type="text" name="plot" value="{{movie.plot}}" />
    <button type="submit"> Make Changes</button>
</form>

<h4>Navigation</h4>
<a href="/">Home</a>